:root {
  --primary--moderate-blue: hsl(238, 40%, 52%); 
  --primary--soft-red: hsl(358, 79%, 66%);
  --primary--light-grayish-blue: hsl(239, 57%, 85%);
  --primary--pale-red: hsl(357, 100%, 86%);
  --neutral--dark-blue: hsl(212, 24%, 26%);
  --neutral--grayish-blue: hsl(211, 10%, 45%);
  --neutral--light-gray: hsl(223, 19%, 93%);
  --neutral--very-light-gray: hsl(228, 33%, 97%);
  --neutral--white: hsl(0, 0%, 100%);
  --border-radius: 6px;
}

* {
  margin: 0;
}

body {
  font-size: 14px;
  background-color: var(--neutral--very-light-gray);
}

.App {
  padding: 5rem 2rem 2rem 2rem;
  text-align: center;
  font-family: sans-serif;
}

.hide {
  display: none !important;
}

.error-msg {
  color: red;
  margin-top: .5rem;
}

button[disabled] {
  color: var(--neutral--grayish-blue);
  background-color: var(--neutral--light-gray);
}

.filled-button {
  background-color: var(--primary--moderate-blue);
  color: var(--neutral--white);
  border: none;
  border-radius: var(--border-radius);
  padding: .5rem 1rem;
  height: auto;
  font-size: .7rem;
}

/*
* * * * * * * * Post * * * * * * * *
*/

.post {
  max-width: 700px;
  margin: 0 auto;
}

.post h1, .post article, .post .comments-title {
  margin-bottom: 1rem;
}

/*
* * * * * * * * Comment * * * * * * * *
*/

.comment-list, .comment-stack {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment {
  background-color: var(--neutral--white);
  border-radius: var(--border-radius);
  padding: 1rem;
}

.comment .comment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .6rem;
}

.comment .comment-header .comment-info {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.comment .comment-header .comment-info .user-avatar {
  width: 25px;
}

.comment .comment-header .comment-info .user-label {
  background-color: var(--primary--moderate-blue);
  color: var(--neutral--white);
  font-size: .8rem;
  padding: .5px 5px 1.5px 5px;
  border-radius: 2px;
}

.comment .comment-actions button {
  background-color: var(--neutral--white);
  color: var(--primary--moderate-blue);
  border: none;
  font-weight: bold;
  vertical-align: middle;
}

.comment .comment-actions button .icon-with-text {
  margin-right: 5px;
  vertical-align: middle;
}

.comment .comment-actions button.danger {
  color: var(--primary--soft-red) !important;
}

.comment .comment-message {
  flex-grow: 1;
  text-align: left;
  color: var(--neutral--grayish-blue);
}

.nested-comments-stack {
  display: flex;
  flex-direction: row;
}

.nested-comments {
  flex-grow: 1;
}

.collapse-line {
  flex-shrink: 0;
  border: none;
  background: none;
  padding: 0;
  width: 30px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: .5rem; 
  position: relative;
  cursor: pointer;
  outline: none;
  /* transform: translateX(-50%); */
}

.collapse-line::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1.5px;
  background-color: var(--neutral--light-gray);
  transition: background-color 100ms ease-in-out;
}

.collapse-line:hover::before,
.collapse-line:focus-visible::before {
  background-color: var(--primary--moderate-blue);
}

/*
* * * * * * * * Comment form * * * * * * * *
*/

.comment-form {
  padding: 1rem;
  margin-top: 1rem;
  background-color: var(--neutral--white);
  border-radius: var(--border-radius);
}

.comment-form-row {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.comment-form-row .user-avatar {
  width: 30px;
}

.comment-form-row .comment-input {
  border: 1.5px solid var(--neutral--very-light-gray);
  border-radius: var(--border-radius);
  padding: .5rem;
  flex-grow: 1;
  font-family: sans-serif;
}
